<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <core>
    <DAL>
      <!--<hibernateConfiguration>C:\Xlns\BuX\BusBook\Xlns.BusBook.UI.Web\Config\hibernate.cfg.xml</hibernateConfiguration>-->
      <connectionString>Integrated Security=SSPI;Persist Security Info=False;User ID=dev;Initial Catalog=XTeamManager;Data Source=localhost\sqlexpress</connectionString>
      <!-- Usare il segnaposto [config] per ereditare il path del presente file di configurazione -->
      <hibernateConfiguration>[config]\hibernate.cfg.xml</hibernateConfiguration>
      <!--<connectionString>Data Source=tcp:s03.winhost.com;Initial Catalog=DB_14568_service;User ID=DB_14568_service_user;Password=marco;Integrated Security=False;</connectionString>-->
    </DAL>
    <web>
      <defaultStyle></defaultStyle> <!-- .spacelab , .amelia , .cosmo , ecc... -->
    </web>
  </core>
</configuration>

