@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Errore</title>
</head>
<body>
    <h2>
        Errore durante l'elaborazione della richiesta.
    </h2>
</body>
</html>