<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/XTM.log"
            archiveFileName="${basedir}/Logs/XTM.{#}.log"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message}${onexception:inner=${newline}${exception:format=ToString}}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7" />

    <target name="debugger" xsi:type="Debugger"             
            layout="${longdate} ${level:uppercase=true} ${logger} ${message}${onexception:inner=${newline}${exception:format=ToString}}"
            />
  </targets>

  <rules>
    <!--<logger name="*" level="Error" writeTo="fileError" />-->
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>
