@model Xlns.XTM.Core.Model.DynamicBoard
@{
    ViewBag.Title = "Detail";
}
<div class="container-fluid board-container fill" style="padding: 0px;">
    <div style="padding-top: 10px;">
        <span class="main-board-title">Board name</span> <span>perspective</span>
    </div>
    <div class="container-fluid label-info rounded-edge" style="padding: 10px 5px 0px 5px; margin: 10px 10px 0px 10px; position: absolute; top: 70px;
    bottom: 10px; right: 0px; left: 0px;">
            <div class="span4 well well-small rounded-edge close-span">
                <div>prima lista</div>
                <div class="card-list">
                    <div class="card">
                        <span>Card1</span>
                    </div>
                    <div class="card">
                        <span>Card2</span>
                    </div>
                </div>
            </div>
            <div class="span4 well well-small rounded-edge close-span">
                seconda lista</div>
            <div class="span4 well well-small rounded-edge close-span">
                terza lista</div>
            <div class="span4 well well-small rounded-edge close-span">
                quarta lista</div>        
    </div>
</div>
